%table.table.table-bordered.table-striped.table-hover
  - if theses.empty?
    %h2
      There are no theses matching this category (yet)!
  -else
    %tr
      %th Title
      %th University
      %th Owner
      - theses.each do |thesis|
        %tr
        %td= thesis.title
        %td= thesis.university
        %td= thesis.user.email
  - if user_signed_in?
    %center
      = link_to "Add new thesis", new_thesis_path, class: "btn btn-success btn-bottom"
