%center
  %h3
    ="(There're #{categories.size - 1} other categories)"

%ul
  - categories.each_with_index do |category, i|
    %li{class: "#{highlight?(i)}"}= link_to category.name, category_theses_filtr_path(category)
