.jumbotron
  %center
    %h1 Categories


- if categories.empty?
  %h2
    %center
      We're sorry, there are no categories added (yet)!!!
- else
  - categories.each do |category|
    .row
      .col-md-8
        %b
          = category.name
      .col-md-2
        Items:
        = category.theses.count
      .col-md-2
        = link_to "Show", category_path(category), class: "btn btn-info"
