.jumbotron
  %center
    %h1 Welcome to EngineeringFinder!
    %h4 View, share, comment and find team for thesis realization!
    - if user_singed_in?
      = link_to "Join us!", new_user_registration_path, class: "btn btn-primary"

%h2
  - unless categories.present?
    We're sorry, there are no categories added (yet)!!!
  - else
%ul
  - categories.each do |category|
    %li= category.name
